.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 7px dashed teal;
  animation: rotate 1.5s infinite linear ;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.4);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}